[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
beautifulsoup4 = "*"
requests = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
pillow = "*"
mysql-connector-python = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
